@use './partials/variables' as *;
@use './partials/mixins' as *;


*{
    @include reset;
}
body{
    background-color: black !important;
    color: $white !important;
    font-family: 'Roboto', sans-serif;
}

.my-button{
    padding: .75rem 3rem;
    border: 2px solid $orange;
    background-color: transparent;
    color: $white;
    text-transform: uppercase;
    &:hover {
        background-color:$orange;
    }
}

.my-subtitle{
    text-transform: uppercase;
    color: $orange;
}
.my-title{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
}
