@use './partials/variables' as *;
@use './partials/mixins' as *;

*{
    @include reset;
}
body{
    background-color: black !important;
    color: $white !important;
}

.my-button{
    padding: .5rem 3rem;
    border: 2px solid $orange;
    background-color: transparent;
    color: $white;
    text-transform: uppercase;
}

.my-subtitle{
    text-transform: uppercase;
    color: $orange;
}
.my-title{
    font-size: 3rem;
    text-transform: uppercase;
}